.content{
    margin: 10px 0;
}

.field{
    margin: 25px 0;
    width: 100%;
}
.form-panel{
    display: flex;
    flex-direction: column;
    gap: 1px;
}
.group-panel{
    display: flex;
    gap: 100px;
}