<div class="card">
    <p-toast></p-toast>
    <p-table #dt [value]="dataSet" [rows]="5" [paginator]="true" [globalFilterFields]="['FormaPago', 'Nombre','Descripcion','Porcentaje','Valor','Base']"
        [rowHover]="true" dataKey="Id" [(selection)]="SelectedDataSet" [exportHeader]="'customExportHeader'"
        [tableStyle]="{ 'min-width': '25rem' }"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex">
                <button title="Exportar a Excel" type="button" pButton pRipple icon="pi pi-file-excel"
                    (click)="exportExcel()" class="p-button-success mr-2" pTooltip="XLS"
                    tooltipPosition="bottom"></button>
                <button title="Exportar a PDF" type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()"
                    class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
                <button class="btn-new-reg" (click)="openNew()">Nuevo Registro</button>
            </div>
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Gestion de Registros</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" #textoBuscar (input)="dt.filterGlobal(textoBuscar.value, 'contains')"
                        placeholder="Buscar..." />
                </span>
            </div>
        </ng-template>

        <ng-template pTemplate="header">

            <tr class="reg">
                <th >Nombre </th>
                <th >Descripción </th>
                <th >Forma de Pago </th>
                <th >Base</th>
                <th >Valor</th>
                <th >Porcentaje</th>
                <th >OPCIONES</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
            <tr >
                <td>{{ row.Nombre}}</td>  
                <td>{{ row.Descripcion}}</td>                
                <td>{{ row.FormaPago}}</td> 
                <td>{{ row.Base}}</td>  
                <td>{{ row.Valor}}</td>  
                <td>{{ row.Porcentaje}}</td>                               
                <td class="btns-options">
                    <button pButton pRipple icon="pi pi-check-circle" class="p-button-rounded p-button-Secondary mr-2"
                        (click)="asignar(row)"></button>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                        (click)="editRow(row)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                        (click)="deleteRow(row)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<!-- En el template del padre   -->
<ng-container *ngIf="mostrarForm">
    <app-form-cargos-admincli 
    [data]="data" 
    [dataSet]="dataSet" 
    [dataDialog]="dataDialog" 
    (onClick)="hideDialog()" ></app-form-cargos-admincli>
  </ng-container>
  <ng-container *ngIf="mostrarAsignacion">
    <app-tasas-cargos-admincli
    [data]="data" 
    [dataDialog]="dataDialogAsignacion" 
    (onClick)="hideDialogAsignacion()">

    </app-tasas-cargos-admincli>
  </ng-container>  

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>