.content{
    display: flex;
    height: 5vh;
    padding: 5px;
    padding-left: 10px;
    justify-content: start;
    align-items: center;
    border-bottom: 0.1px solid white;
}
.content:hover{
    background-color:var(--color-menu);
}
.content i{
    padding-left: 15px;
}
.content .texto{
    margin: 0 15px;
}
.seleccionado{
    background-color: var(--color-menu);
}
.contraer{
    display: none;
}