<p-dialog 
    [(visible)]="dataDialog" 
    [style]="{ width: '450px' }" 
    header="Detalle de Registro" 
    [modal]="true"
    [style]="{ width: '600px', height: '650px' }"
    (onShow)="showDialog()"
    (onHide)="hideDialog()">
    <ng-template pTemplate="content">
        <div class="field">
            <span class="p-float-label">
                <input pInputText id="name" [(ngModel)]="data.name" />
                <label htmlFor="name">Nombre</label>
                <small class="p-error" *ngIf="submitted && !data?.name">Nombre es requerido.</small>
            </span>
        </div>        
        <div class="field">
            <span class="p-float-label">
                <input pInputText id="email"  [(ngModel)]="data.email"/>
                <label htmlFor="observacion">Correo Electrónico</label>
            </span>            
        </div>
        <div class="field">
            <span class="p-float-label">
                <input pInputText id="password"  [(ngModel)]="data.password"/>
                <label htmlFor="observacion">Contraseña</label>
            </span>            
        </div>
        <p-dropdown [options]="instituciones" [(ngModel)]="selectedInstitucion" optionLabel="name" placeholder="Selecciona una Institución">
            <ng-template pTemplate="selectedItem">
                <div class="flex align-items-center gap-2" *ngIf="selectedInstitucion">                    
                    <div>{{ selectedInstitucion.Nombre }}</div>
                </div>
            </ng-template>
            <ng-template let-institucion pTemplate="item">
                <div class="flex align-items-center gap-2">                    
                    <div>{{ institucion.Nombre }}</div>
                </div>
            </ng-template>
        </p-dropdown>
        <p-dropdown [options]="roles" [(ngModel)]="selectedRol" optionLabel="name" placeholder="Selecciona un Rol">
            <ng-template pTemplate="selectedItem">
                <div class="flex align-items-center gap-2" *ngIf="selectedRol">                    
                    <div>{{ selectedRol.Nombre }}</div>
                </div>
            </ng-template>
            <ng-template let-rol pTemplate="item">
                <div class="flex align-items-center gap-2">                    
                    <div>{{ rol.Nombre }}</div>
                </div>
            </ng-template>
        </p-dropdown>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="saveRegistro()"></button>
    </ng-template>
</p-dialog>